svg {
  color: yellow;
}

body {
  background-image: url(../Images/gordosBackgroundCorrect.png);
}

.almarai-bold {
  font-family: "Almarai", sans-serif;
  font-weight: 700;
  font-style: normal;
  display: flex;
  justify-content: center;
}

.headline {
  display: flex;
  justify-content: center;
  color: antiquewhite !important;
}

.lead {
  opacity: 100%;
  color: antiquewhite;
}

.hero {
  background-color: rgba(103, 116, 119, 0.603);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 5%;
}

.lil-Btn {
  background-color: rgba(103, 116, 119, 0.603) !important;
  color: antiquewhite !important;
}

.dropdown-menu {
  --bs-dropdown-bg: rgba(103, 116, 119, 1) !important;
}

.headerMobile a:link {
  color: antiquewhite !important;
}

.headerMobile a:visited {
  color: antiquewhite;
}

.headerMobile a:hover {
  color: orange !important;
  background-color: transparent;
  text-decoration: underline;
}

.lil-Btn2 {
  background-color: rgba(245, 4, 40, 0.507) !important;
  color: antiquewhite !important;
  border-color: yellow;
  border-width: 5px;
  --bs-btn-hover-border-color: none

}

.lil-Btn2 a:link {
  color: antiquewhite !important;
  text-decoration: none;
}

.lil-Btn2 a:visited {
  color: antiquewhite;
}

.lil-Btn2 a:hover {
  color: orange !important;
  background-color: transparent;
  /* text-decoration: underline; */
}

.map {
  height: 400px;
  width: 400px;
  border-radius: 5%;
}

/* header a:link {
  color: black;
}

header a:visited {
  color: black;
}

header a:hover {
    color: orange;
    background-color: transparent;
    text-decoration: underline;
} */

.header {
  background-color: rgba(103, 116, 119, 0.603);
  /* opacity: 60%; */
  width: 600px;
}

.navText {
  color: antiquewhite;
}

header a:link {
  color: antiquewhite;
}

header a:visited {
  color: antiquewhite;
}

header a:hover {
  color: orange !important;
  background-color: transparent;
  text-decoration: underline;
}

.header1 {
  display: flex;
  justify-content: center;
}

#loader {
  position: relative;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid black;
  border-radius: 50%;
  border-top: 16px solid #f00d0d;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#google-location {
  display: none;
  text-align: center;
}

#maps-Mobile {
  display: none;
}

.py-5 {
  padding-top: 1rem !important;
  
}

@media (max-width: 1000px) {
  .headline {
    padding-left: 3rem;
  }

  .lead {
    padding-left: 1rem;
  }

  .header {
    width: 300px;
  }

  .headerMobile {
    display: flex;
  }

  .header1 {
    display: none;
  }



  #maps-Big {
    display: none;
  }

  #maps-Mobile {
    display: flex;
  }



  #loader {
    margin-left: 0.5rem;
    margin-top: 5rem;
  }


}

@media (min-width: 600px) {
  .header {
    width: 600px;
  }

  .headerMobile {
    display: none;
  }

  .header1 {
    display: flex;
  }

  .padding {
    padding-left: 9.375rem;
  }
}

@media (max-width: 600px) {
  .px-4 {
    padding-right: 1rem !important;
    padding-left: 0.4rem !important;
}

/* .padding {
  padding-right: 1rem !important;
    padding-left: 0.4rem !important;
} */
}

@media (min-width: 1000px) {
  .padding {
    padding-left: 0;
  }
}