svg {
  color: yellow;
}

body {
  background-image: url(/Images/gordosBackgroundCorrect.png);
}

.almarai-bold {
  font-family: "Almarai", sans-serif;
  font-weight: 700;
  font-style: normal;
  display: flex;
  justify-content: center;
}

.headline {
  display: flex;
  justify-content: center;
}

.hero {
  background-color: rgba(245, 245, 245, 0.603);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.map {
  height: 400px;
  width: 400px;
  border-radius: 5%;
}

header a:link {
  color: black;
}

header a:visited {
  color: black;
}

header a:hover {
    color: orange;
    background-color: transparent;
    text-decoration: underline;
}

.header {
  background-color: whitesmoke;
  opacity: 60%;
  width: 500px;
}

.header1 {
  display: flex;
  justify-content: center;
}