body {
  background-image: url(../Images/gordosBackgroundCorrect.png);
}

.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  font-size: xx-large;
}

.almarai-bold {
  font-family: "Almarai", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.headline {
  display: flex;
  justify-content: center;
  color: antiquewhite !important;
}

.polaroid {
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
  /* margin: 20px; */
  flex-wrap: wrap;
}

/* .card-body {
    height: 50px;
} */

/* .image {
    height: 200px;
    width: 200px;
} */

.polaroid1 {
  margin: 20px;
  border-color: black;
  border-width: 0cap;
  display: flex;
  justify-content: center;
  width: 18rem;
  height: 22rem;
}

.whiteText {
  color: whitesmoke;
}

.polaroid a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.polaroid a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.polaroid a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

.pizzaBoy {
  display: flex;
  justify-content: center;
  height: 16rem;
  width: 14rem;
  margin-left: 1.8rem;
  margin-top: 1.125rem;
}

svg {
  color: yellow;
}

.title {
  background-color: whitesmoke;
  opacity: 60%;
}

.header {
  background-color: rgba(103, 116, 119, 0.603);
  /* opacity: 60%; */
  width: 600px;
}

.navText {
  color: antiquewhite;
}

header a:link {
  color: antiquewhite;
}

header a:visited {
  color: antiquewhite;
}

header a:hover {
  color: orange !important;
  background-color: transparent;
  text-decoration: underline;
}

.headerMobile a:link {
  color: antiquewhite !important;
}

.headerMobile a:visited {
  color: antiquewhite;
}

.headerMobile a:hover {
  color: orange !important;
  background-color: transparent;
  text-decoration: underline;
}

.dropdown-menu {
  --bs-dropdown-bg: rgba(103, 116, 119, 1) !important;
}

.lil-Btn {
  background-color: rgba(103, 116, 119, 0.603) !important;
  color: antiquewhite !important;
}

.hero {
  background-color: rgba(103, 116, 119, 0.603);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lead {
  opacity: 100%;
  color: antiquewhite;
}

.header1 {
  display: flex;
  justify-content: center;
}

.gordosWhiteLogo {
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  /* margin-bottom: 5%; */
}

.polaroidText {
  display: flex;
  justify-content: center;
  margin-top: 0.3125rem;
}

.css-ekq38o {
  background-color: grey !important;
}

/* .css-ekq38o {
  color: darkkhaki;
} */

#loader {
  position: relative;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid black;
  border-radius: 50%;
  border-top: 16px solid #f00d0d;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#tiktok {
  display: none;
  text-align: center;
}

#gordosIDmobile {
  display: none;
}

.headerMobile {
  display: none;
}

@media (max-width: 600px) {
  .video {
    margin-left: 2.1875rem;
  }

  .polaroid {
    flex-wrap: wrap;
  }

  #gordosID {
    display: none;
  }

  #gordosIDmobile {
    display: flex;
  }

  .headline {
    padding-left: 4rem;
  }

  .lead {
    padding-left: 2rem;
  }

  .header {
    width: 300px;
  }

  .headerMobile {
    display: flex;
  }

  .header1 {
    display: none;
  }
}

